{% extends 'base.html.twig' %}

{% block title %}Hello MovieController!{% endblock %}

{% block body %}
<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code><a href="{{ '/home/benjamin/Dev/sl/formations/training-14-11-22/src/Controller/MovieController.php'|file_link(0) }}">src/Controller/MovieController.php</a></code></li>
        <li>Your template at <code><a href="{{ '/home/benjamin/Dev/sl/formations/training-14-11-22/templates/movie/index.html.twig'|file_link(0) }}">templates/movie/index.html.twig</a></code></li>
    </ul>
</div>
{% endblock %}
